
.sub-div-inputs {
    margin-top: 15px;
    width: 99%;
    height: 250px;
    border: 0px solid #E5E7EB;
    background-color: #FFFFFF;
   border-radius: 10px;
   color:white;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   margin-right:10px;
  
  }

  
.sub-div-create-graphs {
    margin-top: 15px;
    width: 100%;
    height: 250px;
    border: 0px solid #E5E7EB;
    background-color: #FFFFFF;
   border-radius: 10px;
   color:white;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
  }

  .sub-div-term {
    margin-top: 15px;
    width: 97%;
    height: 220px;
    border: 0px solid #E5E7EB;
    background-color: #FFFFFF;
   border-radius: 10px;
   color:white;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   margin:auto;
  }

  
  .sec-con-graph-row1 {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap; 
    width: 100%;
    height:50%;
  }

  .sec-con-graph-row2 {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap; 
    width: 100%;
    height:45%;
  }

  .sec-con-container-divisive {
    margin: 10px;
    width: 100%;
    height: 95%;
    margin: auto;
  }

  .sub-div-MST {
    width: 58%;
    height: fit-content;
    min-height: 200px;
    border: 0px solid #E5E7EB;
    background-color: #FFFFFF;
  
    margin-left: 15px;
    border-radius: 10px;
    color:#333333;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .sub-div-Node4-Table {
    width: 42%;
    border: 0px solid #E5E7EB;
    background-color: #FFFFFF;
   border-radius: 10px;
   color:#333333;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
  }

  .ex1-row1-container {
    width: 97%;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-flow: row;
  }
  
  /* Styles for the modal */
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  width: 900px;
  height: 680px;
  padding-top: 10px; /* Location of the box */
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border-radius: 10px;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  max-width: 750px;
}

/* Styles for the close button */
.close {
  color: #ffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #FFC000;
  text-decoration: none;
  cursor: pointer;
}

/* Styles for the image labels */
.labelModal {
  display: block;
  margin-bottom: 10px;
}

.sub-div-MST-graph{
  margin-top: 15px;
  width: 100%;
  height: 270px;
  border: 0px solid #E5E7EB;
  background-color: #FFFFFF;
 border-radius: 10px;
 color:#333;

 margin:10px;width:500px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sub-div-MST-table {
  margin-top: 15px;
  width: 100%;
  border: 0px solid #E5E7EB;
  background-color: #FFFFFF;
 border-radius: 10px;
 color:#333;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 height:270px;margin:10px
}

.sub-div-graph-node-4 {
  width: 275px;
  height: fit-content;
  min-height: 220px;
  border: 0px solid #E5E7EB;
  background-color: #FFFFFF;
  margin-top: 15px; 
  margin-left: 15px;
  border-radius: 10px;
  color:#333;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sec-cont3-row1 {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap; 
  width: 100%;
  height:50%;
  margin:auto;
  margin-top:1%;
}

.ex1-row1-center-container {
  width: 57%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: auto;
}